#home {
    position: absolute;
    color: #e76f51;
    top: 15%; left: 1%;
    font-size: 15px;
    font-family: "South Australia", serif;
}

#loading{
    color: #e76f51;
    position: absolute;
    top: 22%; left: 1%;
}

#memeavai{
    color: #e76f51;
    position: absolute;
    top: 30%; left: 1%;
}