.signup {
    text-shadow:#ff006e 2.5px 2.5px 0,#8338ec 5px 5px 0,#3a86ff 7.5px 7.5px 0,#333 10px 10px 10px;color:#ffcc00;
}

.connection{
    background:#335F8A; 
    border-radius: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    width: 300px;
    height: 400px;
    padding: 30px;
    position: absolute;
    top: 50%; left: 52%;
    margin-left: -210px; /* (width + padding)/2 */
    margin-top: -120px; /* (height + padding)/2 */
}

#logbutton{
    position: absolute;
    top: 70%; left: 30%;
}

#login{
    position: absolute;
    color: #e76f51;
    top: 27%; left: 48%;
    font-size: 15px;
    font-family: "South Australia", serif;
}

#username{
    position: absolute;
    color: #e76f51;
    top: 5%; left: 42%;
    /* font-family: "South Australia", serif; */
}

#password{
    position: absolute;
    color: #e76f51;
    top: 25%; left: 42%;
    /* font-family: "South Australia", serif; */
}

#email{
    position: absolute;
    color: #e76f51;
    top: 45%; left: 47%;
}

#setusername{
    position: absolute;
    top: 15%; left: 25%;
}

#setpassword{
    position: absolute;
    top: 35%; left: 25%;
}

#setemail{
    position: absolute;
    top: 55%; left: 25%;
}

#signin{
    position: absolute;
    top: 65%; left: 20%;
}

#signup{
    position: absolute;
    top: 68%; left: 38%;
}